*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar{
    position: fixed;
    background-color: #080808;
}

.carousel-item{
    height: 550px;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}




    footer{
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px;
        bottom: 0;
        width: 100%;
    }

.dashborad{
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 70px;
}